<div class="container">
  <div class="row">
    <div class="col-md-2">
      <h1><%= current_user.name %>のクローゼット</h1>
      #プロフィール欄
    </div>

    <div class="col-md-10">
      #アイテム一覧
    <% @items.each do |item| %>
      <%= link_to item_path(item) do %>
        <%= attachment_image_tag item, :item_image, format: 'jpeg', fallback: "item_no_image.jpg", size: "300x400" %>
      <% end %>

      #いいねボタン
    <% end %>
    </div>
  </div>
</div>