<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <h1 class="mb-3">このサイトについて</h1>

      <div class="p-3 mb-5 bg-light rounded">
      <%#スクショ%>
      <h2 class="mb-3">アイテムの写真を一覧表示</h2>
        <p>持っているアイテムを写真に撮って保存します。</p>
        <p>カテゴリーごとに一覧で表示できるので、</p>
        <p>「つい似たようなものを買ってしまった」を防げます。</p>
      </div>

      <div class="p-3 mb-5 bg-light rounded">
      <%#スクショ%>
      <h2 class="mb-3">着用回数をカウント</h2>
        <p>アイテムごとに着用回数をカウントできます。</p>
        <p>着用回数トップ３、ワースト３をランキングで表示できます。</p>
        <p>着用回数の少ないものはどこか気に入らない点があるのかもしれません。</p>
        <p>アイテムを見直すきっかけになります。</p>
      </div>

      <div class="p-3 mb-5 bg-light rounded">
      <%#スクショ%>
      <h2 class="mb-3">コーディネート写真を保存</h2>
        <p>手持ちのアイテムで全通りのコーディネートを組んでみましょう。</p>
        <p>少ないアイテム数でも多くのパターン組めることが分かります。</p>
        <p>例えば、トップス５着、ボトムス５着で２５通り</p>
        <p>約１ヶ月被らないコーディネートができます。</p>
      </div>
 
      <div class="p-3 mb-5 bg-light rounded">
      <%#スクショ%>
      <h2 class="mb-3">カレンダーにコーディネートを記録</h2>
        <p>「前にあの人に会った時どんな服着てたっけ？」</p>
        <p>いつも同じ服と思われないために、</p>
        <p>カレンダーに記録することができます。</p>
      </div>
      
      <div class="p-3 mb-5 bg-light rounded">
      <%#スクショ%>
      <h2 class="mb-3">他の人のクローゼット<br>コーディネートが見られる</h2>
        <p>他のミニマルなクローゼットを見て参考にできます。</p>
        <p>コーディネートに「いいね」をすることができます。</p>
        <p>また、ユーザーをフォローすることができます。</p>
      </div>
    </div>
  </div>
</div>