<h1>初めての人へ</h1>
  <%#スクショ%>
  <h2>アイテムの数を決める</h2>
    <ol>
      <li>&#9312; カテゴリーごと（トップス、ボトムスなど）</li>
      <li>&#9313; シーンごと（ビジネス、パーティなど）</li>
      <li>&#9314; シーズンごと（春・夏・秋・冬）</li>
    </ol>
    <p>以上３点の定数を決めます。</p>

  <%#スクショ%>
  <h2>アイテムの写真を一覧表示</h2>
    <p>決めた数だけアイテムを選び、写真に撮って保存します。<br>
    カテゴリーごとに一覧で表示できるので、<br>
    「つい似たようなものを買ってしまった」を防げます。</p>

  <%#スクショ%>
  <h2>着用回数をカウント</h2>
    <p>アイテムごとに着用回数をカウントできます。<br>
    着用回数トップ３、ワースト３をランキングで表示できます。<br>
    着用回数の少ないものはどこか気に入らない点があるのかもしれません。<br>
    手放すきっかけになります。</p>

  <%#スクショ%>
  <h2>アイテム写真からコーディネートが組める</h2>
    <p>選んだアイテムで全通りのコーディネートを組んでみましょう。<br>
    少ないアイテム数でも多くのパターン組めることが分かります。<br>
    例えば、トップス５着、ボトムス５着で２５通り<br>
    約１ヶ月被らないコーディネートができます。</p>

  <%#スクショ%>
  <h2>カレンダーにコーディネートを保存</h2>
    <p>「前にあの人に会った時どんな服着てたっけ？」<br>
    いつも同じ服と思われないために、<br>
    カレンダーに記録することができます。</p>

  <%#スクショ%>
  <h2>他の人のクローゼット・コーディネートが見られる</h2>
    <p>他のミニマルなクローゼットを見て参考にできます。<br>
    アイテム、コーディネートに「いいね」をすることができます。<br>
    また、ユーザーをフォローすることができます。</p>