<h1>ミニマリストになりたい、<br>
ミニマリストのための<br>
クローゼット管理アプリケーション</h1>
<p>ミニマリストになりたくて、<br>
まずは服を減すことから始める人は多いと思います。<br>
しかし、、、</p>
  <ul>
    <li>いいなと思ったものは必要でなくても買ってしまう</li>
    <li>似たようなものばかり増えてしまう</li>
    <li>あまり好みじゃないけど捨てるのはもったいない</li>
    <li>朝の服選びがめんどくさい</li>
    <li>服はたくさんあるのにシーンに合ったものがない</li>
  </ul>
<p>このように悩んだ経験はあるのではないでしょうか？</p>

<h2>このアプリケーションの特徴</h2>
  <ol>
    <li>カテゴリーごとの定数を決める</li>
    <li>シーンごとの定数を決める</li>
    <li>シーズンごとの定数を決める</li>
  </ol>
<p>その数だけアイテムを選び保存することで適正量にしていきます</p>
<%#詳しく見るボタン（ABOUTページへ）%>
