/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

 //カラーの変数を定義
$base-color: #555555;
$main-color: #00afcc;
$danger-color: #ea5549;

* {
  color: $base-color;
  font-family: system-ui, "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体";
}

@media all and (-ms-high-contrast: none) {
  font-family: "メイリオ", Meiryo, sans-serif;
}

header,footer {
	background-color: $base-color;
}

header {
  .nav-item {
    color: #fff;
    text-align: center;
    &:hover {
      opacity: 0.8;
      }
  }
  .nav-text {
    font-size: 16px;
    color: #fff;
  }
  i{
    color: #fff;
    margin-right: 3px;
  }
  .logo {
    font-size: 32px;
    color: #fff;
  }
}

//ボタン
.btn-add {
  border:1px solid;
  color: $main-color;
  &:hover {
      background: $main-color;
      opacity: 0.8;
      color: #fff;
  }
}
.btn-change {
  border:1px solid;
  background: $main-color;
  color: #fff;
  &:hover {
      opacity: 0.8;
      color: #fff;
  }
}
.btn-delete {
  border:1px solid;
  background: $danger-color;
  color: #fff;
  &:hover {
      opacity: 0.8;
      color: #fff;
  }
}
.btn-move {
  border:1px solid;
  background: $base-color;
  color: #fff;
  &:hover {
      opacity: 0.8;
      color: #fff;
  }
}
.error-message{
  color: $danger-color;
}
.notice{
  color: $main-color;
}
.alert{
  color: $danger-color;
}