// Place all the styles related to the calendars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.calendar-title{
  font-size: 32px;
}

.day_form{
  width: 300px;
  height: 350px;
  border-radius: 3px;
}