// Place all the styles related to the coordinates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.coordinate {
  display: flex;
  flex-wrap: wrap;
}

$n: 5; //1行当たりのカラム数
$m: 1%; //カラム左右のマージン
div.image {
  width: calc((100% - #{$m * ($n - 1) * 2 + $m * 2}) / #{$n});
  margin: $m;
}

.form{
  width: 300px;
  height: 370px;
  border-radius: 3px;
}