// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item_index {
  display: flex;
  flex-wrap: nowrap;
}

//1行当たりのカラム数
$n: 3;
//カラム左右のマージン
$m: 2%;
div.item_rank {
  width: calc((100% - #{$m * ($n - 1) * 2 + $m * 2}) / #{$n});
  margin: $m;
}

.img_form{
  display: none;
}

.item_form{
  width: 300px;
  height: 192px;
  border-radius: 3px;
}

.item_name{
  width: 300px;
  border-radius: 3px;
}

@media screen and (max-width:425px){
  .item-page{
    .item-box{
      margin-left: 24px !important;
    }
    .text-box{
      margin-left: 24px;
    }
  }
}

.label{
  background: #ea5549;
  color: #fff;
  font-size: 14px;
  padding: 3px;
}