// Place all the styles related to the relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media screen and (max-width:425px){
  .follow-page{
    td{
      display: block;
      width: 100%;
    }
    tr{
      border-bottom:solid 3px silver;
    }
  }
}