// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile_name{
  border-radius: 3px;
}
.profile_form{
  width: 300px;
  height: 208px;
  border-radius: 3px;
}
.profile_img{
  border-radius: 50%;
}

.user_item {
  display: flex;
  flex-wrap: wrap;
}

//1行当たりのカラム数
$n: 5;
//カラム左右のマージン
$m: 1%;
div.item_image {
  width: calc((100% - #{$m * ($n - 1) * 2 + $m * 2}) / #{$n});
  margin: $m;
}

@media screen and (max-width:425px){
  .profile-page{
    .profile-box{
      margin-left: 24px !important;
    }
    .text-box{
      margin-left: 24px;
    }
  }
}